body {
  margin: 0px;
}

canvas {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMo5dbQugO6OPBsWYsPcRF0FuEExtkzz_qwdVgNKSRubm3qCO903JA2aGu4iKylYFjBxY&usqp=CAU); 
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: pink;
}
