body {
  margin: 0px;
}

canvas {
  background-image: url(https://images4.alphacoders.com/613/613850.jpg); 
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: none;
}
